{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Detalle Tienda</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{% static 'index.css' %}">
    </head>
    <body>
        <div class="bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-10 text-white">
                        <div class="row">
                            <div class="col-8">
                                <h5>Direccion Tienda : {{ tiendaSeleccionada.direccion }}</h5>
                            </div>
                            <div class="col-2">
                                <a class="btn btn-warning btn-sm" href="{% url 'gestiontienda:registroTienda' %}"><i class="fa-solid fa-undo">Regresar</i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="mt-5 container">
            <div class="row justify-content-center">
                <div class="col-8">
                    <table class="table table-bordered" >
                        <thead class="table-dark" >
                            <th>Descripcion</th>
                            <th>Codigo</th>
                            <th>Precio venta</th>
                            <th>cantidad</th>                                              
                        </thead>
                        <tbody>
                            {% for infoproducto  in infoproductosTiendas %}
                            <tr>
                                <td>{{infoproducto.descripcion}}</td>
                                <td>{{infoproducto.codigo}}</td>
                                <td>{{infoproducto.precioVenta}}</td>
                                <td>{{infoproducto.cantidad}}</td>    
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>


